*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Arial', sans-serif;
background-color: #F4F4F4;
display: flex;
flex-direction: column;
min-height: 100vh;
}

header {
background-color: #4CAF50;
color: #FFFFFF;
text-align: center;
padding: 1rem 0;
}

.cabezera-imagen {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.cabezera-imagen img {
width: 100px;
height: 100px;
margin-right: 15px;
}

main {
flex: 1;
padding: 0 2rem 2rem 2rem;
}

.contenedor-principal h1 {
text-align: center;
margin-bottom: 20px;
}

.contenedor-tarjetas-productos {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
padding: 10px;
justify-items: center;
}

.tarjeta {
display: grid;
row-gap: 10px;
border: 2px solid #CCC;
border-radius: 10px;
padding: 20px;
max-width: 300px;
text-align: center;
background-color: #F9F9F9;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.tarjeta:hover {
transform: scale(1.05);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta img {
width: 100%;
height: 100%;
object-fit: contain;
border-radius: 10px;
margin-bottom: 10px;
height: 150px;

}

.tarjeta h2 {
color: #333;
margin-bottom: 10px;
}

.descripcionproducto {
color: #777;
margin-bottom: 10px;
}

.precio {
margin-bottom: 25px;
font-size: 1.25rem;
color: #E74C3C;
font-weight: bold;
}

footer {
background-color: #4CAF50;
color: #FFFFFF;
text-align: center;
padding: 1rem 0;
font-size: 0.9rem;
}
@media only screen and (max-width: 600px) {
.contenedor-tarjetas-productos {
    grid-template-columns: repeat(2, 20fr);
}
}