#titulo{
    color: red;
}
.contenido{
    background-color: grey;
}
h2{
    text-align: center;
}
#trabajador_1{
    color: blue;
}
#trabajador_2{
    color: green;
}
.datos_personales{
    border-style: solid;
}
.estudios{
    border-style: double;
}
span{
    text-decoration: underline;
}